<header class="site-header">

  <div class="wrapper">

    <ul class="main-nav">
      <li>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </li>
          {% if site.github_username %}
          <li>
            <a class="social-icon" href="https://github.com/{{ site.github_username }}">
               <i class="fa fa-github"></i>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a class="social-icon" href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          {% endif %}
    </ul>

    <a class="rss-button" href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
  </div>

</header>
